
  .card-login {
      margin-top: 50px; 
      max-width: 800px;
  }
 
  .card-form {
    margin-top: 10px;
    width: 100%;
   
  }
  .mat-button{
    margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: green;
  }