<div class="content">
    <div fxLayout="row" fxLayoutAlign="center center" class="card-login">
        <mat-card class="card-login">
            <mat-card-content>
                <h2>LOGIN</h2>
                <mat-form-field class="card-form">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="E-mail">
                </mat-form-field>
                <mat-form-field class="card-form">
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput placeholder="Senha">
                </mat-form-field>
                <button mat-button>ENTRAR</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>