<div fxLayout="row" fxLayoutAlign="center center" class="card-login">
    <mat-card class="card-cadastro">
        <mat-card-content>
            <h2>CADASTRO</h2>
            <mat-form-field class="card-form">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="card-form">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Senha">
            </mat-form-field>
            <mat-form-field class="card-form">
                <mat-label>Confirmar Senha</mat-label>
                <input type="password" matInput placeholder="Confirmar senha">
            </mat-form-field>
            <button mat-button>CADASTRAR</button>
        </mat-card-content>
    </mat-card>
</div>