<div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <mat-card class="mat-elevation-z4">
            <img class="img" mat-card-image src="/assets/hamburguer.jpg">
            <mat-card-content>
                <p>
                    Hamburguer
                </p>
                <p>Preço: </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button>ADICIONAR AO CARRINHO</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mat-elevation-z4">
            <img class="img" mat-card-image src="/assets/coxinha.jpg">
            <mat-card-content>
                <p>
                    teste teste teste
                </p>
                <p>Preço: </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button>ADICIONAR AO CARRINHO</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mat-elevation-z4">
            <img class="img" mat-card-image src="/assets/torta.jpg">
            <mat-card-content>
                <p>
                    teste teste teste
                </p>
                <p>Preço: </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button>ADICIONAR AO CARRINHO</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mat-elevation-z4">
            <img class="img" mat-card-image src="/assets/cogumelo.jpg">
            <mat-card-content>
                <p>
                    Hamburguer de grão de bico
                </p>
                <p>Preço: </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button>ADICIONAR AO CARRINHO</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mat-elevation-z4">
            <img class="img" mat-card-image src="/assets/strogonoff.jpg">
            <mat-card-content>
                <p>
                    teste teste teste
                </p>
                <p>Preço: </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button>ADICIONAR AO CARRINHO</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mat-elevation-z4">
            <img class="img" mat-card-image src="/assets/lasanha.jpg">
            <mat-card-content>
                <p>
                    teste teste teste
                </p>
                <p>Preço: </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button>ADICIONAR AO CARRINHO</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>