<mat-toolbar>
    <mat-toolbar-row class="text-menu">
        <span [routerLink]="['/home']">VEGAN FOOD</span>
        <span class="example-spacer"></span>
        <button class="btn" mat-raised-button [routerLink]="['/conta/login']">
            Entrar
        </button>
        <button class="btn" mat-raised-button [routerLink]="['/conta/cadastro']">
            Cadastrar
        </button>
        <button class="btn" mat-raised-button [routerLink]="['/produtos']">
            Cardápio
        </button>
    </mat-toolbar-row>
</mat-toolbar>